In [22]:
import numpy as np
a = np.arange(15).reshape(3, 5)
a.shape

(3, 5)

In [23]:
a.ndim

2

In [25]:

a.dtype.name

'int32'

In [27]:
a.itemsize

4

In [28]:
a.size

15

In [29]:
type(a)

numpy.ndarray

In [32]:
b = np.array([6, 7, 8])
b

array([6, 7, 8])

In [36]:
type(b)

numpy.ndarray

In [38]:
a = np.array([2, 3, 4])
a

array([2, 3, 4])

In [39]:
a.dtype

dtype('int32')

In [41]:
b = np.array([1.2, 3.5, 5.1])
b.dtype

dtype('float64')

In [48]:
# a = np.array(1,2,3,4)  # WRONG
a = np.array([1,2,3,4])  # RIGHT
type(a)

numpy.ndarray

In [49]:
b = np.array([(1.5,2,3), (4,5,6)])
b

array([[ 1.5,  2. ,  3. ],
       [ 4. ,  5. ,  6. ]])

In [53]:
c = np.array( [ [1,2], [3,4] ], dtype=complex )
c

array([[ 1.+0.j,  2.+0.j],
       [ 3.+0.j,  4.+0.j]])

In [55]:
np.zeros( (3,4) )

array([[ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.]])

In [61]:
d = np.ones( (2,3,4), dtype=np.int16 )
d.ndim

3

In [65]:
d[1,2]

array([1, 1, 1, 1], dtype=int16)

In [58]:
np.empty ( (2,3) )

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [70]:
np.arange( 10, 30, 5 )

array([10, 15, 20, 25])

In [72]:
np.arange ( 0, 2, 0.3 )  # it accepts float arguments

array([ 0. ,  0.3,  0.6,  0.9,  1.2,  1.5,  1.8])

In [78]:
np.linspace( 0, 2, 9 )  # 9 numbers from 0 to 2

array([ 0.  ,  0.25,  0.5 ,  0.75,  1.  ,  1.25,  1.5 ,  1.75,  2.  ])

In [85]:
from numpy import pi
x = np.linspace( 0, 2*pi, 100 )  # useful to evaluate a function at lots of points
f = np.sin(x)

In [88]:
a = np.arange(6)  #1d array
print(a)

[0 1 2 3 4 5]

In [90]:
b = np.arange(12).reshape(4,3)  #2d array
print(b)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [124]:
c = np.arange(24).reshape(2,3,4)  #3d array
print(c)

[[[ 0  1  2  3]
  [ 4  5  6  7]
  [ 8  9 10 11]]

 [[12 13 14 15]
  [16 17 18 19]
  [20 21 22 23]]]

In [106]:
print(np.arange(10000))

[   0    1    2 ..., 9997 9998 9999]

In [112]:
np.set_printoptions(threshold=1000)

In [113]:
print(np.arange(10000).reshape(100,100))

[[   0    1    2 ...,   97   98   99]
 [ 100  101  102 ...,  197  198  199]
 [ 200  201  202 ...,  297  298  299]
 ...,
 [9700 9701 9702 ..., 9797 9798 9799]
 [9800 9801 9802 ..., 9897 9898 9899]
 [9900 9901 9902 ..., 9997 9998 9999]]

In [115]:
a = np.array( [20,30,40,50] )
b = np.arange( 4 )
b

array([0, 1, 2, 3])

In [116]:
c = a-b
c

array([20, 29, 38, 47])

In [118]:
b**2

array([0, 1, 4, 9])

In [119]:
10*np.sin(a)

array([ 9.12945251, -9.88031624,  7.4511316 , -2.62374854])

In [120]:
a<35

array([ True,  True, False, False], dtype=bool)

In [121]:
A = np.array( [[1,1],
              [0,1]] )
B = np.array( [[2,0],
              [3,4]] )
A*B  # elementwise product

array([[2, 0],
       [0, 4]])

In [122]:
A.dot(B)  # matrix product

array([[5, 4],
       [3, 4]])

In [123]:
np.dot(A, B)  # another matrix product

array([[5, 4],
       [3, 4]])

In [126]:
a = np.ones((2,3), dtype=int)
a

array([[1, 1, 1],
       [1, 1, 1]])

In [129]:
b = np.random.random((2,3))
b

array([[ 0.34940958,  0.22518335,  0.87934607],
       [ 0.83258204,  0.78154422,  0.1298412 ]])

In [130]:
a *=3
a

array([[3, 3, 3],
       [3, 3, 3]])

In [132]:
b += a
b

array([[ 6.34940958,  6.22518335,  6.87934607],
       [ 6.83258204,  6.78154422,  6.1298412 ]])

In [133]:
a += b  # b is not automatically converted to integer type

TypeError: Cannot cast ufunc add output from dtype('float64') to dtype('int32') with casting rule 'same_kind'

In [134]:
a = np.ones(3, dtype=np.int32)
b = np.linspace(0, pi, 3)
b.dtype.name

'float64'

In [136]:
c = a+b
c

array([ 1.        ,  2.57079633,  4.14159265])

In [138]:
c.dtype.name

'float64'

In [139]:
d = np.exp(c*1j)
d

array([ 0.54030231+0.84147098j, -0.84147098+0.54030231j,
       -0.54030231-0.84147098j])

In [143]:
d.dtype.name

'complex128'

In [145]:
a = np.random.random((2,3))
a

array([[ 0.27841567,  0.72584518,  0.2298477 ],
       [ 0.51170363,  0.74406966,  0.78766096]])

In [146]:
a.sum()

3.2775428033195149

In [147]:
a.min()

0.22984770439950286

In [148]:
a.max()

0.78766095912932277

In [149]:
b = np.arange(12).reshape(3,4)
b

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [150]:
b.sum(axis=0)  # sum of each column

array([12, 15, 18, 21])

In [151]:
b.min(axis=1)  # min of each row

array([0, 4, 8])

In [155]:
b.cumsum(axis=1)  # cumulative sum along each row

array([[ 0,  1,  3,  6],
       [ 4,  9, 15, 22],
       [ 8, 17, 27, 38]], dtype=int32)

In [156]:
B = np.arange(3)
B

array([0, 1, 2])

In [157]:
np.exp(B)

array([ 1.        ,  2.71828183,  7.3890561 ])

In [158]:
np.sqrt(B)

array([ 0.        ,  1.        ,  1.41421356])

In [159]:
C = np.array([2., -1., 4.])
np.add(B, C)

array([ 2.,  0.,  6.])

In [201]:
a = np.arange(10, dtype='int64')**3
a

array([  0,   1,   8,  27,  64, 125, 216, 343, 512, 729], dtype=int64)

In [170]:
a[2]

8

In [171]:
a[2:5]

array([ 8, 27, 64], dtype=int32)

In [175]:
a[:6:2] = -1000  # equivalent to a[0:6:2] = -1000; from start to position 6, exclusive, set every 2nd element to -1000
a

array([-1000,     1, -1000,    27, -1000,   125,   216,   343,   512,   729], dtype=int32)

In [177]:
a[ : :-1]

array([  729,   512,   343,   216,   125, -1000,    27, -1000,     1, -1000], dtype=int32)

In [200]:
for i in a:
    print(i**(1/3.))

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0

In [186]:
import sys
sys.maxsize

9223372036854775807

In [203]:
a.dtype

dtype('int64')

In [205]:
def f(x,y):
    return 10*x+y

b = np.fromfunction(f,(5,4),dtype=int)
b

array([[ 0,  1,  2,  3],
       [10, 11, 12, 13],
       [20, 21, 22, 23],
       [30, 31, 32, 33],
       [40, 41, 42, 43]])

In [207]:
b[2,3]

23

In [208]:
b[0:5, 1]  # each row in the second column of b

array([ 1, 11, 21, 31, 41])

In [209]:
b[ :,1]  # equivalent to the previous example

array([ 1, 11, 21, 31, 41])

In [210]:
b[1:3, : ]  # each column in the second and third row of b

array([[10, 11, 12, 13],
       [20, 21, 22, 23]])

In [211]:
b[-1]  # the last row. Equivalent to b[-1,:]

array([40, 41, 42, 43])

In [213]:
c = np.array( [[[  0, 1, 2],
               [ 10, 12, 13]],
              [[100, 101, 102],
              [110, 112, 113]]])
c.shape

(2, 2, 3)

In [215]:
c[1,...]

array([[100, 101, 102],
       [110, 112, 113]])

In [216]:
c[...,2]

array([[  2,  13],
       [102, 113]])

In [218]:
for row in b:  # iterating over multidimensional arrays is done with respect to the first axis
    print(row)

[0 1 2 3]
[10 11 12 13]
[20 21 22 23]
[30 31 32 33]
[40 41 42 43]

In [219]:
for element in b.flat:
    print(element)

0
1
2
3
10
11
12
13
20
21
22
23
30
31
32
33
40
41
42
43

In [220]:
a = np.floor(10*np.random.random((3,4)))
a

array([[ 7.,  7.,  8.,  1.],
       [ 5.,  6.,  8.,  4.],
       [ 6.,  0.,  3.,  6.]])

In [221]:
a.shape

(3, 4)

In [222]:
a.ravel()  # returns the array, flattened

array([ 7.,  7.,  8.,  1.,  5.,  6.,  8.,  4.,  6.,  0.,  3.,  6.])

In [223]:
a.reshape(6,2)  # returns the array with a modified shape

array([[ 7.,  7.],
       [ 8.,  1.],
       [ 5.,  6.],
       [ 8.,  4.],
       [ 6.,  0.],
       [ 3.,  6.]])

In [224]:
a.T  # returns the array, transposed

array([[ 7.,  5.,  6.],
       [ 7.,  6.,  0.],
       [ 8.,  8.,  3.],
       [ 1.,  4.,  6.]])

In [225]:
a.T.shape

(4, 3)

In [226]:
a.shape

(3, 4)

In [227]:
a

array([[ 7.,  7.,  8.,  1.],
       [ 5.,  6.,  8.,  4.],
       [ 6.,  0.,  3.,  6.]])

In [228]:
a.resize((2,6))
a

array([[ 7.,  7.,  8.,  1.,  5.,  6.],
       [ 8.,  4.,  6.,  0.,  3.,  6.]])

In [229]:
a.reshape(3,-1)

array([[ 7.,  7.,  8.,  1.],
       [ 5.,  6.,  8.,  4.],
       [ 6.,  0.,  3.,  6.]])

In [230]:
a = np.floor(10*np.random.random((2,2)))
a

array([[ 1.,  8.],
       [ 2.,  4.]])

In [231]:
b = np.floor(10*np.random.random((2,2)))
b

array([[ 8.,  6.],
       [ 6.,  2.]])

In [232]:
np.vstack((a,b))

array([[ 1.,  8.],
       [ 2.,  4.],
       [ 8.,  6.],
       [ 6.,  2.]])

In [233]:
np.hstack((a,b))

array([[ 1.,  8.,  8.,  6.],
       [ 2.,  4.,  6.,  2.]])

In [234]:
from numpy import newaxis
np.column_stack((a,b))  # With 2D arrays

array([[ 1.,  8.,  8.,  6.],
       [ 2.,  4.,  6.,  2.]])

In [235]:
a = np.array([4.,2.])
b = np.array([2.,8.])
a[:,newaxis]  # This allows to have a 2D columns vector

array([[ 4.],
       [ 2.]])

In [237]:
np.column_stack((a[:,newaxis],b[:,newaxis]))

array([[ 4.,  2.],
       [ 2.,  8.]])

In [238]:
np.vstack((a[:,newaxis],b[:,newaxis]))  # The behavior of vstack is different

array([[ 4.],
       [ 2.],
       [ 2.],
       [ 8.]])

In [ ]:
""" For arrays of with more than two dimensions, 
hstack stacks along their second axes,
vstack stacks along their first axes, 
and concatenate allows for an optional arguments 
giving the number of the axis along which the concatenation should happen. """

In [239]:
np.r_[1:4,0,4]

array([1, 2, 3, 0, 4])